<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anton&family=Bungee+Shade&" rel="stylesheet">
        <title>{{ title }} Rock, Paper, Scissors</title>
    </head>
    <body>
        <div class="title">
            <img src="{{ url_for('static', filename = 'rps-hd2.png') }}"> 
        </div>
            <div class="menu-play">
                <ul>
                    <li><a href="/play">PLAY!</a></li>
                </ul>
            </div>
        {% block content %}

        {% endblock %}
    </body>
</html>