{% extends "base.html" %}

{% block  content %}

<p>
    Rock wins against scissors; paper wins against rock; and scissors wins against paper
</p>

<div class="game-play">

    <form class="form-inline" action="/<player1_choice>/<player2_choice>" method="post">

        <label for="name1">Your name</label>
        <input type="text" class="css-input" name="name1" id="name1">

        <label for="choice1">CHOOSE:</label>
        <select name="choice1" id="choice1">
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="scissors">scissors</option>
        </select>
    

        <input type="submit" value="GO">
    </form> 

</div>

    

{%endblock%}