{% extends "base.html" %}

{% block  content %}

    <div class="rules">
        <p>
            <b>Rock</b> wins against scissors
        <br/>
            <b>Paper</b> wins against rock
        <br/>
            <b>Scissors</b> wins against paper
        </p>
        
    </div>

    <h2>Can you beat the Computer?</h2>

    <div class="form">
        <form class="form-inline" action="/<player_choice>/<computer_choice>" method="post">

        <label for="name">Your name</label>
        <input type="text" class="css-input" name="name" id="name">

        <label for="choice">CHOOSE:</label>
        <div class="select">
        <select name="choice" id="choice">
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="scissors">scissors</option>
        </select>
        
            <input type="submit" value="GO">
        </div>
        </form> 
    </div>

{%endblock%}